.home__cont-main{
display: flex;
top:1rem;
margin-left: 9rem;
}
.home__cont-text p {
    margin-top: 5em;
    margin-left: 8rem;
    color: #f8eeee;
    text-align: justify;
}
.home__input {
color: aliceblue;
font-family: inherit;
font-weight: 600;
font-size: 17px;
border-radius: 0.8em;
cursor: pointer;
border: none;
}
.ty__img {
    display: flex;
    width: 600px;
    height: 600px;
    margin-left: 65rem;
    margin-top: -30rem;
}

