* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  input[type="text"] {
    border: none;
  }
body {
background-color: rgb(5, 2, 15);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
min-height: 100vh;
}
body::-webkit-scrollbar {
    width: 0.3em;
    background-color: #35383900;
  }
  body::-webkit-scrollbar-thumb {
    background: rgb(8, 93, 177);
    background: radial-gradient(
      circle,
      rgba(8, 93, 177, 1) 6%,
      rgba(51, 186, 141, 1) 33%,
      rgba(31, 158, 224, 1) 61%,
      rgba(1, 84, 166, 1) 88%
    );
    border-radius: 8rem;
    lighting-color: rgba(36, 204, 162, 0.159);
  }
